{
  "swagger": "2.0",
  "info": {
    "description": "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters.",
    "version": "1.0.0",
    "title": "Refrii API",
    "termsOfService": "http://swagger.io/terms/",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "api.refrii.com",
  "basePath": "/v1",
  "tags": [
    {
      "name": "Boxes"
    },
    {
      "name": "Foods"
    },
    {
      "name": "Units"
    },
    {
      "name": "Users"
    },
    {
      "name": "Invitations"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "produces": [
    "application/json",
    "image/*"
  ],
  "consumes": [
    "application/x-www-form-urlencoded",
    "multipart/form-data"
  ],
  "paths": {
    "/boxes": {
      "get": {
        "tags": [
          "Boxes"
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Box"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ApiResponse"
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "notice",
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created box",
            "schema": {
              "$ref": "#/definitions/Box"
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "name",
            "type": "string",
            "required": true
          },
          {
            "in": "formData",
            "name": "notice",
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Created box",
            "schema": {
              "$ref": "#/definitions/Box"
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/boxes/owns": {
      "get": {
        "tags": [
          "Boxes"
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Box"
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/boxes/invited": {
      "get": {
        "tags": [
          "Boxes"
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Box"
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/boxes/{id}": {
      "get": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "$ref": "#/definitions/Box"
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "$ref": "#/definitions/Box"
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Invalid username supplied"
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/boxes/{id}/versions": {
      "get": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Version"
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/boxes/{id}/image": {
      "get": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of box"
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/boxes/{id}/units": {
      "get": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Unit"
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/boxes/{id}/invite": {
      "post": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of box",
            "schema": {
              "$ref": "#/definitions/Invitation"
            }
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Boxes"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "List of box"
          }
        },
        "security": [
          {
            "BearerAuth": [

            ]
          }
        ]
      }
    },
    "/users": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Create user",
        "description": "This can only be done by the logged in user.",
        "operationId": "createUser",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "Created user object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/createWithArray": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "Creates list of users with given input array",
        "description": "",
        "operationId": "createUsersWithArrayInput",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of user object",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/createWithList": {
      "post": {
        "tags": [
          "Users"
        ],
        "summary": "Creates list of users with given input array",
        "description": "",
        "operationId": "createUsersWithListInput",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "List of user object",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/login": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Logs user into the system",
        "description": "",
        "operationId": "loginUser",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "The user name for login",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "The password for login in clear text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            },
            "headers": {
              "X-Rate-Limit": {
                "type": "integer",
                "description": "calls per hour allowed by the user"
              },
              "X-Expires-After": {
                "type": "string",
                "format": "date-time",
                "description": "date in UTC when BearerAuth expires"
              }
            }
          },
          "400": {
            "description": "Invalid username/password supplied"
          }
        }
      }
    },
    "/user/logout": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Logs out current logged in user session",
        "description": "",
        "operationId": "logoutUser",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/user/{username}": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get user by user name",
        "description": "",
        "operationId": "getUserByName",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "The name that needs to be fetched. Use user1 for testing. ",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "Invalid username supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": [
          "Users"
        ],
        "summary": "Updated user",
        "description": "This can only be done by the logged in user.",
        "operationId": "updateUser",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "name that need to be updated",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Updated user object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid user supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Users"
        ],
        "summary": "Delete user",
        "description": "This can only be done by the logged in user.",
        "operationId": "deleteUser",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "The name that needs to be deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "400": {
            "description": "Invalid username supplied"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "BearerAuth": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Box": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "notice": {
          "type": "string"
        },
        "image_url": {
          "anyOf": [
            {
              "type": "string"
            },
            {
              "type": null
            }
          ]
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "owner": {
          "$ref": "#/definitions/User"
        },
        "foods": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Food"
          }
        },
        "invited_users": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/User"
          }
        }
      },
      "required": [
        "id",
        "name",
        "notice",
        "image_url",
        "created_at",
        "updated_at",
        "owner",
        "foods",
        "invited_users"
      ]
    },
    "Food": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "notice": {
          "type": "string"
        },
        "image_url": {
          "type": "string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        },
        "unit": {
          "$ref": "#/definitions/Unit"
        }
      },
      "required": [
        "id",
        "name",
        "image_url",
        "created_at",
        "updated_at",
        "unit"
      ]
    },
    "Unit": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "label": {
          "type": "string"
        },
        "step": {
          "type": "number"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "label",
        "step",
        "created_at",
        "updated_at"
      ]
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "avatar_url": {
          "oneOf": [
            {
              "type": "string"
            },
            {
              "type": null
            }
          ]
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "name",
        "email",
        "created_at",
        "updated_at"
      ]
    },
    "Version": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "item_id": {
          "type": "integer"
        },
        "event": {
          "type": "string"
        },
        "changes": {
          "type": "object"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "item_id",
        "event",
        "changes",
        "created_at"
      ]
    },
    "Invitation": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "box_id": {
          "type": "integer"
        },
        "created_at": {
          "type": "string",
          "format": "date-time"
        },
        "updated_at": {
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "id",
        "box_id",
        "created_at",
        "updated_at"
      ]
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer"
        },
        "message": {
          "type": "integer"
        }
      },
      "required": [
        "status",
        "message"
      ]
    }
  }
}
